header {
  width: 100%;
  height: 10vh;
  display: flex;
  font-family: Inter, sans-serif;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgb(130, 130, 130) 0px 10px 10px -12px;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.header-menu {
  display: flex;
  gap: 20px;
  cursor: pointer;
  

}



.header-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  font-family: Inter, sans-serif;
}

.main-cards {
  min-height: 50vh;
  width: 75%;
}

.main-details {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 25%;
}

.main-search {
  display: flex;
  flex-direction: row;
  height: 10%;

}

.search-button:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.search-input {
  height: 40%;
  width: 70%;
  border: none;
  background-color: #f5f5f5;
}

.search-button {
  height: 40%;
  width: 30%;
  border: none;
  background-color: #2e245e;
  color: #ffffff;
  cursor: pointer;
}

.main-details aside {

  width: 100%;
  height: 80%;
}

aside {
  max-height: 400px;
}

.cart-title {
  background-color: #37268c;
  color: #ffffff;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-title h4 {
  font-size: 1.2rem;
}

.cart-empty {
  height: 60%;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-empty h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-details {
  height: 30%;
  width: 100%;
  background-color: #333333;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.details-values {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.main-cards li {
  width: 200px;
  margin: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.nameItem {
  font-weight: bold;
  font-size: 20px;
}

.tag {
  width: fit-content;
  padding: 0px 10px;
  height: fit-content;
  font-size: 14px;
  background-color: #2E245E;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: white;
}

.ul-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}



.value {

  font-size: 18px;
  color: #2E245E;
  font-weight: bold;

}

.img {
  background-color: #f5f5f5;
  width: 100%;
}


.ul-products li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}


.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
}

.ul-products li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}


.cart-list-item {
  display: flex;
  
  

}



.cart-list {
  max-height: 300px;
  overflow-y: auto;
  
}



.cart-list-item img {
 
  width: 100px;
  height: 100px;
  

}


.cart-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px ;
  
  
}

.cart-list-item-head {
  font-weight: bold;
}

.button-car{
  font-size: 14px;
  cursor: pointer;
}